summary {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}



.navbar {
    background-color: black;
    
}

#mad-btn {
    font-size: 50px; 
    margin-left: -10px;
    font-weight: bold;
}

img {
    max-width: 100px;
    max-height: 100px;
}

li {
    z-index: 1;
}

ul {
    background-color: black;
    border-radius: 0;
}


/* .dropdown-content {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    display: none;
    z-index: 1000;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } */

 
input {
   
    all: unset;
    margin: auto;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
}

#inputModal {
    background-color: white;
    color: black;
}

#oopsH3 {
    font-size: 35px;
    text-align: center
}

#oopsP {
    font-size: 20px; 
}



.input-form {
    color: rgb(100, 100, 100);
}
.btn {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-action {
    display: block;
    margin:  0 auto;
}



.modal-action {
    text-align: center; /* Center align the contents */
  }
  
  .modal-action button {
    margin: 0 auto; /* Center the button horizontally */
  }
  

.card {
    border: solid 1px black;
}
.card-title {
    display: block;
    margin: auto;
    color: grey;
}
.block {
    max-width: 186px;
}